@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: hsl(236, 100%, 87%);
  padding: 24px;
}
.container {
  margin: 58px auto 0;
}
.header {
  background-color: hsl(235, 46%, 20%);
  border-radius: 14px;
}
.user-div {
  background-color: hsl(246, 80%, 60%);
  border-radius: 14px;
  padding: 30px;
  display: flex;
  gap: 1rem;
}
.user-div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.user-div__name-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user-div__name-div p:nth-child(1) {
  font-size: 15px;
}
.user-div__name-div p:nth-child(2) {
  font-size: 24px;
  color: #f4f3fd;
  font-weight: 300;
}
.period-div {
  display: flex;
  padding: 28px 32px;
  justify-content: space-between;
}

.period-div button {
  appearance: none;
  border: none;
  background-color: transparent;
  color: hsl(235, 45%, 61%);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.period-div button:focus,
.period-div button:hover {
  color: #f4f3fd;
}

.card {
  border-radius: 16px;
  margin-top: 22px;
  position: relative;
}
.work {
  background-color: hsl(15, 100%, 70%);
}
.play {
  background-color: hsl(195, 74%, 62%);
}
.study {
  background-color: hsl(348, 100%, 68%);
}
.exercise {
  background-color: hsl(145, 58%, 55%);
}
.social {
  background-color: hsl(264, 64%, 52%);
}
.self-care {
  background-color: hsl(43, 84%, 65%);
}
.data-div {
  background-color: hsl(235, 46%, 20%);
  color: hsl(236, 100%, 87%);
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  border-radius: 16px 16px 12px 12px;
  padding: 30px 22px;
  justify-content: space-between;
  align-items: center;
  row-gap: 2px;
  position: relative;
  z-index: 2;
  border: 1px solid #1c1f4a;
}
.data-div p:nth-of-type(1) {
  font-size: 18px;
  color: #f4f3fd;
}
.data-div p:nth-of-type(2) {
  font-size: 32px;
  color: #f4f3fd;
}
.data-div p:nth-of-type(3) {
  font-size: 15px;
  margin-top: -3px;
}
.data-div svg {
  justify-self: end;
  cursor: pointer;
}
.img-wrapper-div {
  overflow: hidden;
  position: relative;
  border-radius: 16px 16px 0 0;
  height: 38px;
}
.img-wrapper-div img:nth-child(1) {
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 1;
}

/* ---------------- Active state --------------- */

.data-div:hover {
  background-color: #34397b;
}

.data-div svg:hover path {
  fill: #f4f3fd;
}

/*  --------------- media quires ---------------  */

@media (min-width: 768px) and (max-width: 1024px) {
  .period-div {
    justify-content: space-around;
  }
  .header {
    width: 90%;
    margin: 32px auto;
  }
  .card {
    width: 60%;
    margin: 32px auto;
  }
}
@media (min-width: 1280px) {
  .container {
    display: grid;
    grid-template: repeat(2, auto) / 250px auto;
    column-gap: 32px;
    padding: 11rem 124px 0 9rem;
  }

  main {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 254px);
    gap: 32px;
  }
  .card {
    margin-top: 0;
  }
  .user-div {
    flex-direction: column;
    gap: 44px;
    padding-bottom: 80px;
  }
  .user-div img {
    width: 82px;
    height: 82px;
  }
  .user-div__name-div p:nth-child(2) {
    font-size: 40px;
  }
  .period-div {
    flex-direction: column;
    align-items: start;
    gap: 26px;
  }
  .data-div {
    grid-template: repeat(2, auto) / repeat(2, auto);
    border-radius: 16px 16px 12px 12px;
    padding: 30px 32px;
    justify-content: space-between;
    align-items: center;
    row-gap: 24px;
  }
  .data-div p:nth-of-type(2) {
    font-size: 50px;
    color: #f4f3fd;
    grid-column: 1 / -1;
  }
  .data-div p:nth-of-type(3) {
    font-size: 15px;
    margin-top: -8px;
  }
}
@media (min-width: 1280px) and (max-width: 1366px) {
  .container {
    margin-left: -34px;
  }
}
