@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
    color: hsl(236, 100%, 87%);
    padding: 24px;

}
.container {
    margin: 58px auto 0;
}
.header {
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
}
.user-div{
    background-color: hsl(246, 80%, 60%);
    border-radius: 12px;
    padding: 30px ;
    display: flex;
    gap: 1rem;
}
.user-div img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.user-div__name-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.user-div__name-div p:nth-child(1){
    font-size: 15px;
}
.user-div__name-div p:nth-child(2){
    font-size: 24px;
}
.period-div {
    padding: 16px;  
}

.period-div button{
    appearance: none;
    border: none;
    background-color: transparent;
    color: hsl(235, 45%, 61%);

}

main {
    display: none;
}